<footer class="page-footer" style="
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: lightgray;
color: black;
text-align: center;
">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Github </a>
    </div>
    <!-- Copyright -->

</footer>